<%= javascript_pack_tag 'application' %>
<%-# React will render article_react in "root" -%>
<%= javascript_pack_tag 'article_react'%>

<%= react_component("ArticleToolBar", home: true) %>
<h1>Ruby on Rails Portfolio Project</h1>
<%= link_to 'New article', new_article_path %>
<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th></th>
    </tr>

    <% @articles.each do |article| %>
        <tr>
            <%= react_component("ArticleCard", title: article.title , body: article.text) %>
            <td><%= link_to 'Show', article_path(article) %></td>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <%-# 2nd arg for Delete is the name of the route-%>
            <%-# method: :delete, :data are HTML5 attributes for pop-up dialogue-%>
            <%-# via pre-made file app/views/layoute/application.html.erb-%>
            <td><%= link_to 'Delete',article_path(article),
                method: :delete,
                data: {confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

<%-# React will render inside root (for my_example_checkpoint.jsx)-%>
<div id="root">
</div>
<%-# React will render inside root (for my_examparticle_react.jsx)-%>
<%= content_tag :div,
    id: "root1",
    data: @articles.to_json do %>
<% end %>