<%= javascript_pack_tag 'application' %>
<%-# React will render article_react in "root" -%>
<%-# NOT USED" -%>
<%= javascript_pack_tag 'article_react'%>

<%= react_component("ArticleToolBar", home: true) %>

<h1>Ruby on Rails Portfolio Project</h1>


<div class="container">
    <% @articles.each do |article| %>
        <tr>
            <%= react_component("ArticleCard", title: article.title , body: article.text, id: article.id) %>
            <br/>
            <br/>
        </tr>
    <% end %>
</div>



<%-# NOT USED" -%>
<%-# React will render inside root (for my_example_checkpoint.jsx)-%>
<div id="root">
</div>
<%-# React will render inside root (for my_examparticle_react.jsx)-%>
<%= content_tag :div,
    id: "root1",
    data: @articles.to_json do %>
<% end %>