<%= react_component("ArticleNavBar") %>

<br/>
<br/>
<br/>
<div class="container">
    <%= react_component("ArticleCardShow", title: @article.title , body: @article.text, id: @article.id, picture: url_for(@article.picture)) %>
    <%-# Display existing comments -%>
    <br/>
    <br/>

    <%-# calls partial _comments, replaces "for each comment render"-%>

    <%-# calls comment/_form partial, renders new comment form -%>
    <%= render 'comments/form' %>
    <br/>
    <%= render @article.comments %>

</div>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<%= react_component("ArticleToolBar") %>