<%-# _form is a view a 'partial' to remove duplicate code in EditArticle & NewArt-%>

<%= form_with model: @about_page, local: true do |form| %>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :text %><br>
        <%= form.text_area :text %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>
